*/Debug/
*/Release/
*.pdb
*.exe
*.sdf
*.suo
*.opensdf
*.vcxproj
*.ipch
*.vcxproj
*.ilk
*.vcxproj
*.vcxproj
*.user
*.vcxproj
*.vcxproj
*.vcxproj
*.user
RunTrials/RunTrials.vcxproj
RunTrials/RunTrials.vcxproj
RunTrials/RunTrials.vcxproj.user
Devilep/Devilep.vcxproj
